
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1466664364'); /* IE9*/
  src: url('iconfont.eot?t=1466664364#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1466664364') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1466664364') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1466664364#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-articletab:before { content: "\e600"; }
.icon-boldtool:before { content: "\e601"; }
.icon-bulletstool:before { content: "\e602"; }
.icon-checkfunction:before { content: "\e603"; }
.icon-cleantool:before { content: "\e604"; }
.icon-eyecaretab:before { content: "\e605"; }
.icon-headingtool:before { content: "\e606"; }
.icon-italictool:before { content: "\e607"; }
.icon-lasttool:before { content: "\e608"; }
.icon-linetool:before { content: "\e609"; }
.icon-linktool:before { content: "\e60a"; }
.icon-nexttool:before { content: "\e60b"; }
.icon-nighttab:before { content: "\e60c"; }
.icon-numbertool:before { content: "\e60d"; }
.icon-pictab:before { content: "\e60e"; }
.icon-pictool:before { content: "\e60f"; }
.icon-previewtool:before { content: "\e610"; }
.icon-quotearticle:before { content: "\e611"; }
.icon-quotetool:before { content: "\e612"; }
.icon-ranktool:before { content: "\e613"; }
.icon-reloadfunction:before { content: "\e614"; }
.icon-saletool:before { content: "\e615"; }
.icon-teltool:before { content: "\e616"; }
.icon-testtab:before { content: "\e617"; }
.icon-videotab:before { content: "\e618"; }
.icon-videotool:before { content: "\e619"; }
.icon-voicetool:before { content: "\e61a"; }
